{% extends "navbar_signedin.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href=""> <!-- needs to add the link address for style sheet -->
    <title>Comment On Farmer</title>
{% endblock %}

{% block main %}
    <h2>نظر درباره ی فروشنده</h2>
    {% if length == 0 %}
    <div>
        <h5>مشخصات سفارش</h5>
        <div>
            <ul>
                <li><span>نوع محصول: </span>
                <span>{{ order.product.product }}</span></li>

                <li><span>نام فروشنده: </span>
                <span>{{ order.product.submitter }}</span></li>

                <li><span>حجم سفارش:</span>
                <span>{{ order.product.quantity }}</span></li>

                <li><span>قیمت واحد محصول: </span>
                <span>{{ order.product.price }}</span></li>

                <li><span>قیمت مجموع محصول: </span>
                <span id="product_whole_price"></span></li>

                <li><span>هزینه انتقال: </span>
                <span>{{ order.driver_cost }}</span></li>

                <li><span>هزینه کلی سفارش: </span>
                <span id ="total_cost"></span></li>

            </ul>
        </div>

        <div>
            <h6>نظر خود را درباره ی این فروشنده بر اساس این سفارش در کادر زیر وارد نمایید.</h6>
            <form method="POST" action="">
                <textarea id = 'comment1' rows="5" cols="100" name="comment" placeholder = "نظر خود را در اینجا وارد کنید"></textarea>
                <button type="submit" onClick="return empty()">ارسال</button>
            </form>
        </div>

    </div>

    <script>
        document.getElementById('product_whole_price').innerHTML = {{ order.quantity }} * {{ order.product.price }} ;
        document.getElementById('total_cost').innerHTML = {{ order.quantity }} * {{ order.product.price }} + {{ order.driver_cost }};

        function empty() {
            var x;
            x = document.getElementById("comment1").value;
            if (x == "") {
                alert("لطفا نظر خود را وارد کنید.");
                return false;
            };
        }

    </script>
    {% else %}
        <script>
            setTimeout(function() { alert('شما قبلا بر اساس این سفارش، به این فروشنده نظر داده اید.'); }, 5);
            window.location.replace("http://127.0.0.1:8000/reporting/listpurchases/");
        </script>
    {% endif %}

{% endblock %}