{% extends "navbar_signedin.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/finance/styles/depositmoney.css">
{% endblock %}

{% block main %}
    {% if diff_amount > 0 %}
        <script>
            alert('موجودی حساب شما کافی نیست. لطفا ابتدا موجودی خود را افزایش دهید.')
        </script>
    {% endif %}
    <br><br><br><br>
    <form id="deposit-form" action="/finance/depositmoney/" method="post">
        <p type="text">  موجودی فعلی به تومان: {{ current_amount }} </p>

          {% if diff_amount > 0 %}
            <label> <input type="number" name="balance" value="{{ diff_amount }}"> تومان </label>
          {% else %}
            <label> <input type="number" name="balance" placeholder="مبلغ"> تومان </label>
          {% endif %}


        <div>
            <label> <input type="radio" name="bank_gateway" id="tejarat-bank" required> <img src="/static/finance/images/tejarat.png"> </label>
            <label> <input type="radio" name="bank_gateway" id="melli-bank"> <img src="/static/finance/images/melli.png"> </label>
            <label> <input type="radio" name="bank_gateway" id="parsian-bank"> <img src="/static/finance/images/parsian.png"> </label>
        </div>
        <input type="submit" value="پرداخت">
    </form>
{% endblock %}
