{% extends "navbar_signedin.html" %}

{% block main %}
<p>
  <ul>
    <li>
      <a href="/useraccountmanagement/updateprofile/{{ view.request.user.username }}/">اطلاعات حساب</a>
    </li>
    <li>
      <a href="/finance/depositmoney/">افزایش اعتبار</a>
    </li>
    <li>
      <a href="/reporting/listpurchases/">گزارش سفارشات</a>
    </li>
    <li>
      <a href="/reporting/listproducts/">گزارش و به روزرسانی محصولات</a>
    </li>
    <li>
      <a href="/tradeproduct/submitProduct/">ثبت محصول</a>
    </li>
  </ul>
</p>
{% endblock %}
