{% extends "navbar_signedin.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/useraccountmanagement/styles/profile.css">
{% endblock %}

{% block main %}
<p>
  <a href="/useraccountmanagement/updateprofile/{{ view.request.user.username }}/">اطلاعات حساب</a>
  <a href="/reporting/listtransports/">گزارش جا به جایی ها</a>
  <form action="/useraccountmanagement/profile/" method="post">
    <p><label>آمادگی برای انتقال:
      <input type="checkbox" name="available" value="true"{% if view.request.user.unprivilegeduser.driver.availability %} checked {% endif %} /></label></p>
    <p><input type="submit" value="ثبت تغییرات" /></p>
  </form>
</p>
{% endblock %}
