{% extends "navbar_signedin.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/useraccountmanagement/styles/profile.css">
{% endblock %}

{% block main %}
<p>
  <a href="/useraccountmanagement/updateprofile/{{ view.request.user.username }}/">اطلاعات حساب</a>
  <a href="/reporting/listtransports/">گزارش جا به جایی ها</a>
  {% if not view.request.user.unprivilegeduser.driver.reserved %}
  <a onclick="document.getElementById('status-change').submit()">{% if view.request.user.unprivilegeduser.driver.availability %} آماده انتقال نیستم {% else %} آماده انتقال هستم {% endif %}</a>
  <form id="status-change" style="visibility: hidden;" action="/useraccountmanagement/profile/" method="post">
  </form>
  {% endif %}
</p>
{% endblock %}
