{% extends "navbar.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/useraccountmanagement/styles/w3.css">
{% endblock %}

  {% block main %}
  <form id="customer-form" action="/useraccountmanagement/registration/" method="post">
    <input type="radio" name="role" value="customer"  style="visibility: hidden;" checked>
    <table>
      {{ customer_form }}
    </table>
    <section>
      قوانین و مقررات
    </section>
    <input type="submit" value="ثبت نام">
  </form>
  <form id="driver-form" action="/useraccountmanagement/registration/" method="post">
    <input type="radio" name="role" value="driver" style="visibility: hidden;" checked>
    <table>
      {{ driver_form }}
    </table>
    <section>
      قوانین و مقررات
    </section>
    <input type="submit" value="ثبت نام">
  </form>
{% endblock %}
