{% extends "navbar.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/useraccountmanagement/styles/register.css">
{% endblock %}
{% block main %}
<form action="/useraccountmanagement/registration/driver/" method="post">
  {{ form.non_field_errors }}
  <table>
    <tr><th>{{ form.first_name.label_tag }}</th><td>{{ form.first_name }}{{ form.first_name.errors }}</td></tr>
    <tr><th>{{ form.last_name.label_tag }}</th><td>{{ form.last_name }}{{ form.last_name.errors }}</td></tr>
    <tr><th>{{ form.username.label_tag }}</th><td>{{ form.username }}{{ form.username.errors }}</td></tr>
    <tr><th>{{ form.password.label_tag }}</th><td>{{ form.password }}{{ form.password.errors }}</td></tr>
    <tr><th>{{ form.password2.label_tag }}</th><td>{{ form.password2 }}{{ form.password2.errors }}</td></tr>
    <tr><th>{{ form.national_id.label_tag }}</th><td>{{ form.national_id }}{{ form.national_id.errors }}</td></tr>
    <tr><th>{{ form.phone_number.label_tag }}</th><td>{{ form.phone_number }}{{ form.phone_number.errors }}</td></tr>
    <tr><th>{{ form.account_number.label_tag }}</th><td>{{ form.account_number }}{{ form.account_number.errors }}</td></tr>
    <tr><th>{{ form.license_plate.label_tag }}</th><td>{{ form.license_plate }}{{ form.license_plate.errors }}</td></tr>
    <tr><th>{{ form.certificate_number.label_tag }}</th><td>{{ form.certificate_number }}{{ form.certificate_number.errors }}</td></tr>
  </table>
  <p>{{ form.regions.label_tag }}
    {{ form.regions }}
    {{ form.regions.errors }}
  </p>
  <section>
    قوانین و مقررات
  </section>
  <p>{{ form.license_agreement.label_tag }}{{ form.license_agreement }}{{ form.license_agreement.errors }}</p>
  <input type="submit" value="ثبت نام">
</form>
{% endblock %}
