{% extends "navbar.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/useraccountmanagement/styles/w3.css">
{% endblock %}

  {% block main %}
  <button onclick="myFunction('customer-form')" class="w3-btn w3-block w3-green w3-right-align">ثبت نام به عنوان مشتری</button>
  <form id="customer-form" class="w3-hide" action="/useraccountmanagement/registration/customer/" method="post">
    <table>
      {{ customer_form }}
    </table>
    <section>
      قوانین و مقررات
    </section>
    <input type="submit" value="ثبت نام">
  </form>
  <button onclick="myFunction('driver-form')" class="w3-btn w3-block w3-green w3-right-align">ثبت نام به عنوان راننده</button>
  <form id="driver-form" class="w3-hide" action="/useraccountmanagement/registration/driver/" method="post">
    <table>
      {{ driver_form }}
    </table>
    <section>
      قوانین و مقررات
    </section>
    <input type="submit" value="ثبت نام">
  </form>
  <script>
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
{% endblock %}
