{% extends "systemmanagement/signedin_base.html" %}

{% block nav %}
{{ block.super }}
<a class="nav-link" href="/systemmanagement/profile/">صفحه اصلی</a>
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/systemmanagement/styles/browse.css">
{% endblock %}

{% block main %}
<form action="/systemmanagement/browsecomments/" method="get">
  <label>نظر دهنده: <input type="text" name="commenter" /></label>
  <label>ثبت شده برای: <input type="text" name="undercomment" /></label>
  <label>از تاریخ: <input type="text" name="date_start" /></label>
  <label>تا تاریخ: <input type="text" name="date_end" /></label>
  <label>کلید واژه: <input type="text" name="keyword" /></label>
  <br /><input type="submit" value="جستجو">
</form>
<table>
  <tr>
    <th>نویسنده</th>
    <th>برای</th>
    <th>تاریخ ثبت</th>
    <th class="longer">جزئیات</th>
  </tr>
  {% for comment in comments %}
  <tr>
    <td>{{ comment.commenter.first_name }} {{ comment.commenter.last_name }}</td>
    <td>{{ comment.undercomment.first_name }} {{ comment.undercomment.last_name }}</td>
    <td>{{ comment.date_str }}</td>
    <td class="longer"><a href="/systemmanagement/detailcomment/{{ comment.pk }}/">{{ comment.content|truncatechars:60 }}</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
