{% extends "systemmanagement/signedin_base.html" %}

{% block nav %}
{{ block.super }}
<a class="nav-link" href="/systemmanagement/profile/">صفحه اصلی</a>
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/systemmanagement/styles/browse.css">
{% endblock %}

{% block main %}
<form action="/systemmanagement/browseproducts/" method="get">
  <label>نوع محصول: <input type="text" name="product"></label>
  <label>فروشنده: <input type="text" name="submitter"></label>
    <label>استان:
      <select name="province">
	<option value="east_azerbaijan">آذربایجان شرقی</option>
	<option value="west_azerbaijan">آذربایجان غربی</option>
	<option value="ardabil">اردبیل</option>
	<option value="isfahan">اصفهان</option>
	<option value="alborz">البرز</option>
	<option value="ilam">ایلام</option>
	<option value="bushehr">بوشهر</option>
	<option value="tehran">تهران</option>
	<option value="chaharmahal_and_bakhtiari">چهارمحال و بختیاری</option>
	<option value="south_khorasan">خراسان جنوبی</option>
	<option value="razavi_khorasan">خراسان رضوی</option>
	<option value="north_khorasan">خراسان شمالی</option>
	<option value="khuzestan">خوزستان</option>
	<option value="zanjan">زنجان</option>
	<option value="semnan">سمنان</option>
	<option value="sistan_and_baluchestan">سیستان و بلوچستان</option>
	<option value="fars">فارس</option>
	<option value="qazvin">قزوین</option>
	<option value="qom">قم</option>
	<option value="kurdistan">کردستان</option>
	<option value="kerman">کرمان</option>
	<option value="kermanshah">کرمانشاه</option>
	<option value="kohgiluyeh_and_boyer_ahmad">کهگیلویه و بویراحمد</option>
	<option value="golestan">گلستان</option>
	<option value="gilan">گیلان</option>
	<option value="lorestan">لرستان</option>
	<option value="mazandaran">مازندران</option>
	<option value="markazi">مرکزی</option>
	<option value="hormozgan">هرمزگان</option>
	<option value="hamadan">همدان</option>
	<option value="yazd">یزد</option>
      </select>
    </label>
    <label>حداقل قیمت: <input type="number" name="price_min" /></label>
    <label>حداکثر قیمت: <input type="number" name="price_max" /></label>
    <label>از تاریخ: <input type="text" name="start_date" /></label>
    <label>تا تاریخ: <input type="text" name="end_date" /></label>
    <label>حداقل موجودی: <input type="number" name="quantity_min" /></label>
    <label>حداکثر موجودی: <input type="number" name="quantity_max" /></label>
  <br /><input type="submit" value="جستجو">
</form>
<table>
  <tr>
    <th>محصول</th>
    <th>فروشنده</th>
    <th>تاریخ ثبت</th>
    <th>قیمت</th>
    <th>استان</th>
  </tr>
  {% for product in products %}
  <tr>
    <td><a href="/systemmanagement/detailproduct/{{ product.pk }}/">{{ product.product.name }}</a></td>
    <td>{{ product.submitter.first_name }} {{ product.submitter.last_name }}</td>
    <td>{{ product.date_str }}</td>
    <td>{{ product.price_str }}</td>
    <td>{{ product.getProvince }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
