{% extends "systemmanagement/base.html" %}

{% block main %}
<a href="/systemmanagement/profile/">صفحه اصلی</a>
<form action="/systemmanagement/browseproducts/" method="get">
  <label>نوع محصول: <input type="text" name="product"></label>
  <br /><label>فروشنده: <input type="text" name="submitter"></label>
  <br />
  <label>استان:
    <select name="province">
      <option value="east_azerbaijan">آذربایجان شرقی</option>
      <option value="west_azerbaijan">آذربایجان غربی</option>
      <option value="ardabil">اردبیل</option>
      <option value="isfahan">اصفهان</option>
      <option value="alborz">البرز</option>
      <option value="ilam">ایلام</option>
      <option value="bushehr">بوشهر</option>
      <option value="tehran">تهران</option>
      <option value="chaharmahal_and_bakhtiari">چهارمحال و بختیاری</option>
      <option value="south_khorasan">خراسان جنوبی</option>
      <option value="razavi_khorasan">خراسان رضوی</option>
      <option value="north_khorasan">خراسان شمالی</option>
      <option value="khuzestan">خوزستان</option>
      <option value="zanjan">زنجان</option>
      <option value="semnan">سمنان</option>
      <option value="sistan_and_baluchestan">سیستان و بلوچستان</option>
      <option value="fars">فارس</option>
      <option value="qazvin">قزوین</option>
      <option value="qom">قم</option>
      <option value="kurdistan">کردستان</option>
      <option value="kerman">کرمان</option>
      <option value="kermanshah">کرمانشاه</option>
      <option value="kohgiluyeh_and_boyer_ahmad">کهگیلویه و بویراحمد</option>
      <option value="golestan">گلستان</option>
      <option value="gilan">گیلان</option>
      <option value="lorestan">لرستان</option>
      <option value="mazandaran">مازندران</option>
      <option value="markazi">مرکزی</option>
      <option value="hormozgan">هرمزگان</option>
      <option value="hamadan">همدان</option>
      <option value="yazd">یزد</option>
    </select>
  </label>
  <input type="submit" value="جستجو">
</form>
<ul>
  {% for product in products %}
  <li>
    {{ product.product.name }}
    <br />فروشنده: {{ product.submitter.first_name }} {{ product.submitter.last_name }}
    <br />تاریخ ثبت: {{ product.date }}
    <br />موجودی: {{ product.quantity }}
    <br />قیمت: {{ product.price }}
    <br />استان: {{ product.province }}
    <br />آدرس: {{ product.location }}
  </li>
  {% endfor %}
</ul>
{% endblock %}
