{% extends "systemmanagement/base.html" %}

{% block main %}
<p><a href="/systemmanagement/browseusers/">جستجوی کاربران</a></p>
{% if successful %}
<p>تغییرات با موفقیت ثبت شد</p>
{% endif %}
<p>{{ user.first_name }} {{ user.last_name }}
<br />نام کاربری: {{ user.username }}
<br />کد ملی: {{ user.national_id }}
<br />شماره تلفن همراه: {{ user.phone_number }}
<br />شماره حساب: {{ user.account_number }}
{% if user.is_customer %}
<br />موجودی حساب: {{ user.customer.account_balance }}
{% endif %}
{% if user.is_driver %}
<br />شماره گواهینامه: {{ user.driver.certificate_number }}
<br />شماره پلاک وسیله نقلیه: {{ user.driver.license_plate }}
{% endif %}
<form action="/systemmanagement/detailuser/{{ user.username }}/" method="post">
  {{ form.as_p }}
  <input type="submit" value="ثبت تغییرات">
</form>
</p>
{% endblock %}
