{% extends "systemmanagement/base.html" %}

{% block main %}
<p><a href="/systemmanagement/browseproducts/">جستجوی محصولات</a></p>
<p>
  {{ product.product.name }}
  <br />فروشنده: {{ product.submitter.first_name }} {{ product.submitter.last_name }}
  <br />تاریخ ثبت: {{ product.date_str }}
  <br />موجودی: {{ product.quantity_str }} کیلوگرم
  <br />قیمت: {{ product.price_str }} تومان
  <br />استان: {{ product.getProvince }}
  <br />آدرس: {{ product.location }}
  <form action="/systemmanagement/detailproduct/{{ product.pk }}/" method="post">
    {{ form.as_p }}
    <input type="submit" value="ثبت تغییرات">
  </form>
</p>
{% endblock %}
