{% extends "systemmanagement/signedin_base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/systemmanagement/styles/profile.css">
{% endblock %}

{% block main %}
<p>
  <a href="/systemmanagement/browseusers/">جستجوی کاربران</a>
  <a href="/systemmanagement/browseproducts/">جستجوی محصولات</a>
  <a href="/systemmanagement/browsecomments/">جستجوی نظرات</a>
  <a href="/reporting/listbuyers/">لیست خریداران</a>
  <a href="/reporting/listfarmers/">لیست فروشندگان</a>
  <a href="/reporting/listdrivers/">لیست رانندگان</a>
  <a href="/reporting/listorders/">لیست سفارشات</a>
</p>
{% endblock %}
