ul {
    list-style-type: none;
    background: #DDDDDD;
    padding: 5px;
    width: 98%;
}

ul li {
    /*display: inline;*/
    background: rgb(214, 245, 245);
    font-weight: 400;
    color: #000000;
    padding: 3px 8px;
    margin: 5px;
}

.span_holder {
    font-weight : bold;
}

.span_content{
    padding-left : 10px ;
    padding-right: 30px;

}

.address_bar{
    padding-left : 10px ;
    padding-right: 50px;
}

#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
    text-align: center;
    padding: 12px; /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

#myInput input[type=submit] {
    border-style: none;
    padding: 10px 15px;
    cursor: pointer;
}

#myInput input[type=submit]:hover {
    background-color: Azure;
}