#option_container{
    margin: auto;
    width: 99%;
    border: 3px solid #73AD21;
    padding: 5px;
    background: #eee;
}

label{
    display: inline-block;
    width: 200px;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: large;
}

select{
    width: 30%;
    padding: 12px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 100%;
}

input[type=submit]{
    width: 20%;
    padding: 12px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #45a049;
    font-size: 100%;
}

input[type=submit]:hover {
    background-color: #45a049;
    /*font-weight : bold ;*/
    font-size: 105%;
}

h1, h2, h3{
    margin-right: 30px;
}

.dl_button{
    width: 50%;
    padding: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    opacity: 0.7;
    background-color: #45a049;
    font-size: 100%;
}

.dl_button:hover {
    background-color: #45a049;
    /*font-weight : bold ;*/
    opacity: 1;
}

#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
    text-align: center;
    padding: 12px; /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

#myInput input[type=submit] {
    border-style: none;
    padding: 10px 15px;
    cursor: pointer;
}

#myInput input[type=submit]:hover {
    background-color: Azure;
}