{% extends "navbar_signedin.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/reporting/styles/listing.css">
{% endblock %}

{% block main %}
    <h2> فهرست محصولات ثبت شده شما </h2>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="جستجوی محصول ...">

    <table id="myTable">
      <thead>
        <tr class="header">
          <th> ردیف </th>      
          <th> محصول </th>      
          <th> تاریخ ثبت </th>
          <th> مشاهده جزییات </th>
          <th> به روز رسانی </th>
          <th> حذف </th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
          <tr>
            <td>{{ product.0 }} </td>
            <td>{{ product.1.product }}</td>
            <td>{{ product.2.2 }} / {{ product.2.1 }} / {{ product.2.0 }}</td>
            <td><a href="{% url 'tradeproduct:details' product.1.id %}" target="_blank"> <button class="dropbtn">مشاهده جزییات</button> </a></td>
            <td><a href="{% url 'tradeproduct:change' product.1.id %}"> <button class="dropbtn">به روز رسانی</button> </a></td>
            <td>
                <form method="POST" action="{% url 'tradeproduct:delete' product.1.id %}">
                    <button class="dropbtn" type="submit" onclick="alert('محصول با موفقیت حذف شد.')">حذف محصول</button>
                </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <a href="{% url 'tradeproduct:submit' %}"><button>بازگشت به صفحه ثبت محصول</button> </a>    

    {% if products.has_other_pages %}
      <ul class="pagination">
        {% if products.has_previous %}
          <li><a href="?page={{ products.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in products.paginator.page_range %}
          {% if products.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if products.has_next %}
          <li><a href="?page={{ products.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}

    <script src="/static/scripts/Search.js" type="text/javascript"></script>
{% endblock %}