{% extends "navbar_signedin.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/reporting/styles/listing.css">
  <script src="/static/scripts/jquery.min.js"></script>
  <script src="/static/scripts/bootstrap.min.js"></script>
{% endblock %}

{% block main %}
    <h2> فهرست محصولات خریداری شده شما </h2>
    <form>
        <input type="text" id="myInput" placeholder="جستجوی نام محصول ..." name="search">
        <input type="submit" id="searchSubmit" value="جستجو">
    </form>
    <table id="myTable" class="center">
      <thead>
        <tr class="header">
          <th> ردیف </th>
          <th> محصول </th>
          <th> جزییات سفارش </th>
          <th> وضعیت </th>
        </tr>
      </thead>
      <tbody>
        {% for order in purchases %}
          <tr>
            <td>{{ order.0 }}</td>
            <td>{{ order.1.product.product }}</td>
            <td><a href="{% url 'tradeproduct:order_detail_buyer' order.1.id %}" target="_blank"><button class="dropbtn">مشاهده جزییات</button></a></td>
            <td class="dropdown">
                <div class="center">
                    {% if order.1.driver_receipt %}
                        {% if order.1.buyer_receipt %}
                            <p class="dropbtn"> محصول دریافت شد </p>
                            <div class="dropdown-content">
                                <a href="{% url 'support:commentOnFarmer' order.1.id %}"><button>نظر درباره فروشنده</button></a>
                                <a href="{% url 'support:commentOnDriver' order.1.id %}"><button>نظر درباره راننده</button></a>
                            </div>
                        {% else %}
                            <p class="dropbtn"> دریافت محصول توسط راننده </p>
                            <form class="dropdown-content" method="POST" action="">
                                {% csrf_token %}
                                <input type="submit" value="دریافت از راننده" name="{{ order.1.id }}">
                            </form>
                        {% endif %}
                    {% else %}
                        <p class="dropbtn"> راننده در راه دریافت محصول </p>                        
                    {% endif %}
                </div>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    {% if purchases.has_other_pages %}
      <ul class="pagination">
        {% if purchases.has_previous %}
          <li><a href="?page={{ purchases.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in purchases.paginator.page_range %}
          {% if purchases.number == i %}
            <li id="active"><span>{{ i }} <span class="sr-only"></span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if purchases.has_next %}
          <li><a href="?page={{ purchases.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}
{% endblock %}