{% extends "systemmanagement/signedin_base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/reporting/styles/listing.css">
{% endblock %}

{% block nav %}
{{ block.super }}
<a class="nav-link" href="/systemmanagement/profile/">صفحه اصلی</a>
{% endblock %}

{% block main %}
   <h2> فهرست باغ داران مشترک سامانه </h2>
   <input type="text" id="myInput" onkeyup="myFunction()" placeholder="جستجوی کشاورز ...">

    <table id="myTable">
      <thead>
        <tr class="header">
          <th> ردیف </th>      
          <th> فروشنده </th>      
          <th> کد ملی </th>
          <th> نام </th>
          <th> نام خانوادگی </th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
          <tr>
            <td>{{ product.0 }} </td>
            <td>{{ product.1.submitter.username }}</td>
            <td>{{ product.1.submitter.national_id }}</td>
            <td>{{ product.1.submitter.first_name }}</td>
            <td>{{ product.1.submitter.last_name }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if products.has_other_pages %}
      <ul class="pagination">
        {% if products.has_previous %}
          <li><a href="?page={{ products.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in products.paginator.page_range %}
          {% if products.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if products.has_next %}
          <li><a href="?page={{ products.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}
    
    <script src="/static/scripts/Search.js" type="text/javascript"></script>
{% endblock %}
