{% extends "systemmanagement/base.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/reporting/styles/listing.css">
{% endblock %}

{% block main %}
    <h2> فهرست سفارشات ثبت شده در سامانه </h2>
    <form>
        <input type="text" id="myInput" placeholder="جستجوی نام محصول ..." name="search">
        <input type="submit" id="searchSubmit" value="جستجو">
    </form>
    <table id="myTable">
      <thead>
        <tr class="header">
          <th> ردیف </th>      
          <th> شناسه </th>      
          <th> محصول </th>
          <th> قیمت </th>
          <th> خریدار </th>
          <th> فروشنده </th>
          <th> راننده </th>
          <th> تاریخ ثبت </th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
          <tr>
            <td>{{ order.0 }} </td>
            <td>{{ order.1.pk }}</td>
            <td>{{ order.1.product.product.name }}</td>
            <td>{{ order.1.product.price }}</td>
            <td>{{ order.1.buyer.username }}</td>
            <td>{{ order.1.product.submitter.username }}</td>
            <td>{{ order.1.driver.username }}</td>
            <td>{{ order.1.date }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if orders.has_other_pages %}
      <ul class="pagination">
        {% if orders.has_previous %}
          <li><a href="?page={{ orders.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in orders.paginator.page_range %}
          {% if orders.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if orders.has_next %}
          <li><a href="?page={{ orders.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}
{% endblock %}