{% extends "navbar_signedin.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/reporting/styles/listing.css">
  <script src="/static/scripts/jquery.min.js"></script>
  <script src="/static/scripts/bootstrap.min.js"></script>
{% endblock %}

{% block main %}
    <h2> فهرست محصولات خریداری شده شما </h2>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="جستجوی محصول ...">
    
    <table id="myTable" class="center">
      <thead>
        <tr class="header">
          <th> ردیف </th>
          <th> محصول </th>
          <th> جزییات سفارش </th>
          <th> وضعیت </th>
            <th></th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        {% for order in purchases %}
          <tr>
            <td>{{ order.0 }}</td>
            <td>{{ order.1.product.product }}</td>
            <td><a href="{% url 'tradeproduct:order_detail_buyer' order.1.id %}" target="_blank"><button>مشاهده جزییات</button></a></td>

              {% if order.1.driver_receipt and order.1.buyer_receipt  %}
                <td>محصول به شما تحویل داده شده است.</td>
            {% elif order.1.driver_receipt and not order.1.buyer_receipt %}
                <td>راننده محصول را دریافت کرده است.</td>
            {% else %}
                <td>راننده در مسیر دریافت محصول است.</td>
            {% endif %}

          {% if order.1.buyer_receipt %}
            <td>
                <a href="{% url 'support:commentOnFarmer' order.1.id %}"><button>نظر درباره فروشنده</button></a>
            </td>
              <td>
                <a href="{% url 'support:commentOnDriver' order.1.id %}"><button>نظر درباره راننده</button></a>
            </td>
          {% else %}
              <td>
                <form method = 'POST' action="">
                    {% csrf_token %}
                    <input type="submit" value="محصول دریافت شد." name="buyer_receipt" onclick="return checkReceipt()">
                </form>

            </td>
          {% endif %}

          </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    {% if purchases.has_other_pages %}
      <ul class="pagination">
        {% if purchases.has_previous %}
          <li><a href="?page={{ purchases.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in purchases.paginator.page_range %}
          {% if purchases.number == i %}
            <li id="active"><span>{{ i }} <span class="sr-only"></span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if purchases.has_next %}
          <li><a href="?page={{ purchases.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}
    <script src="/static/scripts/Search.js" type="text/javascript"></script>

    <script>

        function checkReceipt() {
            if( !{{ order.driver_receipt }}){
                return false ;
            };
        }

    </script>

{% endblock %}