#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}
#login-form > * {
    margin: 10px;
}
input[type=text], input[type=password] {
    border-style: none;
    background-color: LightGrey;
    padding: 10px 15px;
}
input[type=text]:focus, input[type=password]:focus {
    background-color:Azure;
}
input[type=submit] {
    border-style: none;
    padding: 10px 15px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: Azure;
}
.errorlist li {
    background-color: red;
    padding: 5px;
    display: inline-block;
}
