h2 {
    display: block;
    margin: 30px 40%;
}
main ul {
    margin: 10% 35%;
    width: 260px;
}
main li {
    list-style-type: none;
    height: 50px;
    margin: 10% 0;
}
main li a {
    display: block;
    color: white;
    text-decoration: none;
    background-color: darkseagreen;
    padding: 10px;
}
