{% extends my_template %}

{% block head %}
    <link rel="stylesheet" type="text/css" href=""> <!-- needs to add the link address for style sheet -->
    <title>Browse Products</title>
{% endblock %}

{% block main %}
    <h2>جستجوی محصول</h2>
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            <label>محصول</label>
            {{ form.product }}<br><br>
            <label>قیمت(به تومان): از</label>
            {{ form.from }}
            <label>تا</label>
            {{ form.to }}
            <br><br><br>
            <label> استان ها</label>
            {{ form.province }}
            <br>

            <button type="submit">جستجو</button>

        </form>
    </div>

    <div>
        {% if browse_notify %}
            <script>
                alert('لطفا محصولی را انتخاب کنید.')
            </script>
        {% endif %}
    </div>

{% endblock %}