{% extends my_template %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/scripts/browse.css"> <!-- needs to add the link address for style sheet -->
    <title>Browse Products</title>
{% endblock %}

{% block main %}
    <h2>جستجوی محصول</h2>
    <div class="form_holder">
        <form method="POST" action="">
            {% csrf_token %}
            <label class="labeled">محصول</label>
            {{ form.product }}<br><br>
            <span class="content_holder">قیمت(به تومان): از</span>
            <input type="number" name="from" id = "lowerbound" min="0" step="1" onchange="funcChecker()">
            <span class="content_holder">تا</span>
            <input type="number" name="to" id = "upperbound" min="0" step="1" onchange="funcChecker()">
            <label class="labeled"> استان ها</label>
            {{ form.province }}
            <br>

            <input type="submit" value="جستجو">

        </form>
    </div>

    <div>
        {% if browse_notify %}
            <script>
                alert('لطفا محصولی را انتخاب کنید.')
            </script>
        {% endif %}
    </div>

    <div>

        <script>
            function funcChecker(){
                var x = document.getElementById('lowerbound').value;
                var y = document.getElementById('upperbound').value;

                if (Number(x) > Number(y)){
                    alert('ورودی ها نادرست هستند')
                    document.getElementById('upperbound').value = x
                }
            }
        </script>

    </div>

{% endblock %}