{% extends "navbar_signedin.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href=""> <!-- needs to add the link address for style sheet -->
    <title>Confirm</title>
{% endblock %}

{% block main %}
    <h2>اطلاعات سفارش</h2>

    <div>
        <div>
            <h5>اطلاعات محصول</h5>
            <ul>
                <li>
                    <span>نام فروشنده: </span>
                    {{ product.0.submitter }}
                </li>
                <li>
                    <span>نوع محصول: </span>
                    {{ product.0.product }}
                </li>
                <li>
                    <span>تاریخ ثبت محصول: </span>
                    {{ product.1.2 }} / {{ product.1.1 }} / {{ product.1.0 }}
                </li>
                <li>
                    <span>مقدار سفارش داده شده: </span>
                    {{ quantity }}
                </li>
                <li>
                    <span>قیمت واحد: </span>
                    {{ product.0.price }}
                </li>
                <li>
                    <span>قیمت مجموع:</span>
                    {{ cost }}
                </li>
                <li>
                    <span>استان: </span>
                    {{ product.0.getProvince }}
                </li>
                <li>
                    <span>آدرس: </span>
                    {{ product.0.location|linebreaksbr }}
                </li>
            </ul>
        </div>

        <div>
            <h5>اطلاعات راننده</h5>
            <ul>
                <li>
                    <span>نام راننده: </span>
                    <span>{{ driver }}</span>
                </li>

                <li>
                    <span>نوع ماشین: </span>
                    <span>{{ driver.vehicle_model }}</span> {#  #}
                </li>

                <li>
                    <span>ظرفیت ماشین: </span>
                    <span>{{ driver.vehicle_capacity }}</span>
                </li>

                <li>
                    <span>هزینه انتقال: </span>
                    <span>{{ driver_cost }}</span>
                </li>

            </ul>
        </div>
        <div>
            <span>هزینه کل: </span>
            <span id = 'totalC'>{{ total_cost }}</span> <br>
            <span>موجودی شما: </span>
            <span>{{ balance }}</span>

        </div>
    </div>
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            <label for="buyer_address">آدرس خود را در اینجا وارد کنید.</label>
            <textarea id = 'adress_B' rows="5" cols="100" name="buyer_address" placeholder = "آدرس خود را در اینجا وارد کنید."></textarea>
            <input type="submit" name="order_confirm" value="خرید" onClick="return empty()" />
            <input type="submit" name="order_cancel" value="انصراف" />
        </form>
    </div>

    <script>

        function empty() {
            var x;
            x = document.getElementById("adress_B").value;
            if (x == "") {
                alert("لطفا آدرس خود را وارد کنید.");
                return false;
            };
        }

    </script>


{% endblock %}