{% extends "navbar_signedin.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/scripts/details.css"> <!-- needs to add the link address for style sheet -->
    <title>driver detail</title>
{% endblock %}

{% block main %}
    <h2 style="margin-right: 20px;">مشخصات راننده</h2>
    <div>
        <ul>
            <li>
                <span>نام راننده:</span>
                <span>{{ driver }}</span>
            </li>

            <li>
                <span>نوع ماشین:</span>
                <span>{{ driver.vehicle_model }}</span> {#  #}
            </li>

            <li>
                <span>ظرفیت ماشین:</span>
                <span>{{ driver.vehicle_capacity }}</span> &nbsp;
                <span>کیلوگرم</span>
            </li>

        </ul>
    </div>

    <div id="id_container">
        <label style="font-weight: bold; margin-right: 20px;">امتیاز راننده:</label>
        <span style="background-color: #4CAF50; width: 50px;padding: 6px;display: inline-block;border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;;">{{ driver.rate }}</span>

        {% if comments %}
            <h3>نظرات درباره ی راننده:</h3>
            {% for comment in comments %}
                <div>
                    {{ comment.content }} <br>
                    {{ comment.date }}
                </div>
            {% endfor %}

        {% endif %}
    </div>

{% endblock %}