{% extends "navbar_signedin.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/scripts/confirm.css">
    <title>order detail</title>
{% endblock %}

{% block main %}
    <h3>اطلاعات سفارش</h3>

    <div>
        <div class="containIt">
            <h3>اطلاعات محصول</h3>
            <ul>
                <li>
                    <label>نام فروشنده: </label>
                    {{ order.product.submitter }}
                </li>
                <li>
                    <label>نوع محصول: </label>
                    {{ order.product.product }}
                </li>
                <li>
                    <label>تاریخ ثبت محصول: </label>
                    {{ tarikh.2 }} / {{ tarikh.1 }} / {{ tarikh.0 }}
                </li>
                <li>
                    <label>مقدار سفارش داده شده: </label>
                    {{ order.quantity }}
                </li>

                <li>
                    <label>قیمت محصول:</label>
                    <span id = 'product_whole_price' ></span>
                </li>
                <li>
                    <label>استان: </label>
                    {{ order.product.getProvince }}
                </li>
            </ul>
        </div>

        <div class="containIt">
            <h3>اطلاعات راننده</h3>
            <ul>
                <li>
                    <label>نام راننده: </label>
                    <span>{{ order.driver }}</span>
                </li>

                <li>
                    <label>نوع ماشین: </label>
                    <span>{{ order.driver.vehicle_model }}</span> {#  #}
                </li>

                <li>
                    <label>شماره پلاک:</label>
                    <span>{{ order.driver.license_plate }}</span>
                </li>
                <li>
                    <label>شماره تلفن:</label>
                    <span>{{ order.driver.phone_number }}</span>
                </li>

                <li>
                    <label>هزینه انتقال: </label>
                    <span>{{ order.driver_cost }}</span>
                </li>

            </ul>
        </div>
        <div class="containIt">
            <label>هزینه کل: </label>
            <span id = 'total_cost'></span> <br>

        </div>

    <script>
        document.getElementById('product_whole_price').innerHTML = {{ order.quantity }} * {{ order.product.price }}
        document.getElementById('total_cost').innerHTML = {{ order.quantity }} * {{ order.product.price }} + {{ order.driver_cost }}
    </script>

    </div>
{% endblock %}