{% extends mytemplate %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/reporting/styles/listing.css"> <!-- needs to add the link address for style sheet -->
    <title>search results</title>
    <style>
        #select_button{
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 16px 32px;
            text-decoration: none;
            margin: auto ;
            cursor: pointer;
            font-size: 15px;
        }
        #select_button:hover {
            background-color: #45a049;
            /*font-weight : bold ;*/
        }
    </style>
{% endblock %}

{% block main %}
    <h2>محصولات یافت شده</h2>
    <div>
        {% if searchResult %}

            <table id="myTable">
              <thead>
                <tr class="header">
                  <th> ردیف </th>
                  <th> محصول </th>
                  <th> تاریخ ثبت </th>
                  <th> نام فروشنده </th>
                  <th> قیمت(به تومان) </th>
                  <th> مقدار(به کیلوگرم) </th>
                  <th> آدرس </th>
                  <th> انتخاب </th>
                </tr>
              </thead>
              <tbody>
                {% for product in searchResult %}
                  <tr>

                    <td>{{ product.0 }} </td>
                    <td>{{ product.1.product }}</td>
                    <td>{{ product.2.2 }} / {{ product.2.1 }} / {{ product.2.0 }}</td>
                    <td>{{ product.1.submitter }}</td>
                    <td>{{ product.1.price }}</td>
                    <td>{{ product.1.quantity }}</td>
                    <td>{{ product.1.location }}</td>
                    <td><a href="{% url 'tradeproduct:select' product.1.id %}"><button id = "select_button" >انتخاب</button></a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

        {% endif %}
    </div>
{% endblock %}