{% extends "navbar_signedin.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href=""> <!-- needs to add the link address for style sheet -->
{% endblock %}

{% block main %}
    <h2>اسناد یافت شده</h2>
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            <label for = "rangeInput"> انتخاب حجم محصول (از 1 تا {{ selectedProduct.quantity }})</label>
            <input type="range" name="rangeInput" min="1" max="{{ selectedProduct.quantity }}" onchange="updateTextInput(this.value);">
            <input type="text" id="textInput" value="{{ halfvalue }}">
            <button type="submit">انتخاب و انتقال به صفحه ی انتخاب راننده</button>
        </form>
    </div>


    <script>
        function updateTextInput(val) {
          document.getElementById('textInput').value=val;
        }
    </script>
{% endblock %}
