{% extends "navbar_signedin.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href=""> <!-- needs to add the link address for style sheet -->
{% endblock %}

{% block main %}
    <h2>ثبت محصول جدید در سامانه</h2>
    <div>
        <form method="POST" action="{% url 'tradeproduct:submit' %}" onsubmit="alert('محصول شما با موفقیت ثبت شد.')">
            {% csrf_token %}
            <label>محصول</label>
            {{ form.product }}<br>

            <label for="quantity">حجم محصول</label>
            <input type="number" name="quantity" min="1" step="1" required>
            <label>کیلوگرم</label> <br>

            <label>قیمت</label>
            {{ form.price }}
            <label>تومان</label> <br>

            <label> استان</label>
            {{ form.province }}
            <br>

            <label>آدرس</label>
            {{ form.location }}

            <button type="submit" >ارسال</button>
        </form>
    </div>
{% endblock %}