{% extends "navbar_signedin.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href=""> <!-- needs to add the link address for style sheet -->
{% endblock %}

{% block main %}
    <h2>جزییات محصول</h2>
    {% if activated %}
    <div>
        <ul>
            <li>
                <span>نام فروشنده: </span>
                {{ submittedProduct.0.submitter }}
            </li>
            <li>
                <span>نوع محصول: </span>
                {{ submittedProduct.0.product }}
            </li>
            <li>
                <span>تاریخ ثبت: </span>
                {{ submittedProduct.1.2 }} / {{ submittedProduct.1.1 }} / {{ submittedProduct.1.0 }}
            </li>
            <li>
                <span>مقدار باقی مانده از محصول: </span>
                {{ submittedProduct.0.quantity }}
            </li>
            <li>
                <span>قیمت: </span>
                {{ submittedProduct.0.price }}
            </li>
            <li>
                <span>استان: </span>
                {{ submittedProduct.0.getProvince }}
            </li>
            <li>
                <span>آدرس: </span>
                {{ submittedProduct.0.location|linebreaksbr }}
            </li>


        </ul>

    </div>

    {% else %}
        <script>
            setTimeout(function() { alert('این محصول در حال حاضر غیر فعال است.'); }, 5);
            window.location.replace("http://stackoverflow.com");
        </script>
    {% endif %}

{% endblock %}