{% extends "navbar_signedin.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href=""> <!-- needs to add the link address for style sheet -->
{% endblock %}

{% block main %}
    <h2>فهرست محصولات شما در سامانه</h2>
    <div>

        {% if submittedList %}
            <ol>
            {% for product in submittedList %}
                <div>
                    <li>{{ product.0.product }}
                        <span>در تاریخ</span>
                        {{ product.1.2 }} / {{ product.1.1 }} / {{ product.1.0 }}
                        <a href="{% url 'tradeproduct:details' product.0.id %}" target="_blank"> <button>مشاهده جزییات</button> </a>
                        <form method="POST" action="{% url 'tradeproduct:delete' product.0.id %}">
                            <button  type="submit" onclick="alert('محصول با موفقیت حذف شد.')">حذف محصول</button>
                        </form>
                        <a href="{% url 'tradeproduct:change' product.0.id %}"> <button>کاهش حجم محصول</button> </a>

                    </li>
                </div>
            {% endfor %}
            </ol>
        {% else %}
            <p>شما هیچ محصولی را در سامانه ثبت نکرده اید.</p>
        {% endif %}

    </div>

{% endblock %}