#deposit-form {
    margin: auto;
    width: 30%;
    border: 3px solid #73AD21;
    padding: 5px;
    background: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}
#deposit-form > * {
    margin: 10px;
}
#deposit-form input[type=number] {
    border-style: none;
    background-color: LightGrey;
    padding: 10px 15px;
}
#deposit-form p[type=text] {
    border-style: none;
    background-color: Cornsilk;
    padding: 10px 15px;
}
#deposit-form input[type=number]:focus {
    background-color:Azure;
}
#deposit-form input[type=submit] {
    border-style: none;
    padding: 10px 15px;
    cursor: pointer;
}
#deposit-form input[type=submit]:hover {
    background-color: Azure;
}